<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>회원 관련 쿼리문들</comment>

	<entry key="loginMember">
		SELECT *
  		  FROM MEMBER
 		 WHERE MEMBER_ID = ?
   		   AND MEMBER_PWD = ?
   	 	   AND STATUS = 'Y'
	</entry>
	<entry key="insertMember">
	INSERT 
		   INTO MEMBER
		          (
		            MEMBER_NO
		           ,MEMBER_ID
		           ,MEMBER_PWD
		           ,MEMBER_NAME
		           ,NICKNAME
		           ,EMAIL
		           ,PHONE
		           ,PREFERGENRE
		           ,ENROLL_DATE
                   ,MEMBER_TYPE
		          )
            VALUES
                  (
                    SEQ_UNO.NEXTVAL
                    ,?
                    ,?
                    ,?
                    ,?
                    ,?
                    ,?
                 	,?
                 	, DEFAULT
                    , DEFAULT
                  )
	</entry>
	
	<entry key="findId">
		SELECT MEMBER_ID
  		  FROM MEMBER
 		 WHERE MEMBER_NAME = ?
 		  AND  PHONE = ?
 		  AND STATUS = 'Y'
	</entry>
	
	<entry key="forgotPwd"> <!-- 비밀번호 변경 대상자 -->
		SELECT *
    		FROM MEMBER
 		 WHERE 
 		 	MEMBER_ID = ?
          AND 
          	MEMBER_NAME = ?
 		  AND  
 		  	PHONE = ?
 		  AND 
 		  	STATUS = 'Y'
	</entry>
	
	<entry key ="updateMemberPwd">
	UPDATE
	    MEMBER 
	SET
	    MEMBER_PWD = ?
	WHERE
	    MEMBER_ID = ?
	 AND
	    MEMBER_NO = ?
		
	
	</entry>
	
	
	
	<entry key ="AselectMemberCount"> <!-- 멤버 전체 수 조회(관리자) -->
		SELECT
			COUNT(*) COUNT
		FROM
			MEMBER
	</entry>
	
	<entry key ="AselectMember"> <!-- 전체 멤버 조회(관리자) -->
		SELECT *
		FROM
			(SELECT ROWNUM RNUM, A.*
    		FROM(
   				SELECT *
    			FROM
    				MEMBER    			
    			ORDER
    				BY MEMBER_NO DESC) A)
		WHERE
			RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key ="AdeleteMember">
		UPDATE
			MEMBER 
		SET
			STATUS = 'N'
		WHERE
			MEMBER_NO = ?
	
	</entry>
	
	
	<entry key="AsearchMember"> 
		SELECT *
  		  FROM
  		  	MEMBER
 		 WHERE
 		 	NICKNAME like ?
   		   OR
   		   	MEMBER_NAME like ?
	</entry>
	
	
	<!--  회원가입 장르선택을위한 장를별 영화포스터 조회 -->
	<entry key="selectGenreList"> 
	  SELECT *
	    FROM genre
	   ORDER BY genre_id
	</entry>
	<entry key="selectGenreMoiveList"> 
		select 
		       r.genre_id
		     , r.genre_name
		     , r.title
		     , r.movie_id     
		     , r.poster_path  
		     , r.rn
		from (
		        select a.genre_id
		             , a.genre_name
		             , b.title
		             , b.movie_id             
		             , b.poster_path     
		             , row_number() over(partition by a.genre_id order by a.genre_id) rn
		        from genre a
		           , (
		                select 
		                       title
		                     , movie_id        
		                     , case when instr(genre_ids , ',') <![CDATA[>]]> 0  then  substr(genre_ids, 1,instr(genre_ids , ',')-1)  
		                            when instr(genre_ids , ',') <![CDATA[=]]> 0  then genre_ids end    as genre_id
		                     , poster_path  
		                from movie        
		             ) b
		        where a.genre_id = b.genre_id
		        order by a.genre_id  
		      ) r
		where r.rn <![CDATA[<=]]>5
	</entry>
	
	<entry key="insertMemberLikeCommunity"> <!--회원가입시 커뮤니티 좋아요생성 -->
	INSERT 
		   INTO LIKES_COMMUNITY
		   
		          (
		            MEMBER_NO
		            ,LIKES_COMMUNITY
		           
		          )
            VALUES
                  (
                    ?
                    , DEFAULT
                  )
	</entry>
	
		<entry key="insertMemberLikeReview"> <!--회원가입시 리뷰 좋아요생성 -->
	INSERT 
		   INTO LIKES_REVIEW
		   
		          (
		            MEMBER_NO
		            ,LIKES_REVIEW
		           
		          )
            VALUES
                  (
                    ?
                    , DEFAULT
                  )
	</entry>
	
		<entry key="insertMemberLikeMovie"> <!--회원가입시 영화 좋아요생성 -->
	INSERT 
		   INTO LIKES_MOVIE
		   
		          (
		            MEMBER_NO
		            ,LIKES_MOVIE
		            ,SEEN_MOVIE
		           
		          )
            VALUES
                  (
                    ?
                    , DEFAULT
                    , DEFAULT
                  )
	</entry>
	<entry key="idCheck">
	SELECT COUNT(*) COUNT FROM MEMBER
	WHERE MEMBER_ID = ?
	</entry>
	
</properties>


	
