<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>영화 관련 쿼리문들</comment>
	
	<!-- 선택한 영화 상세보기 -->
	<entry key="selectMovieDetail">
		SELECT *
		  FROM MOVIE
		 WHERE MOVIE_NO = ?
	</entry>
	
	<!-- 영화 포스터 가져오기 -->
	<entry key="getMoviePosterPath">
		SELECT POSTER_PATH
		  FROM MOVIE
		 WHERE MOVIE_ID = ?
	</entry>
	
	<!-- 영화 배경 상세보기 -->
	<entry key="getMovieBackdropPath">
		SELECT BACKDROP_PATH
		  FROM MOVIE
		 WHERE MOVIE_ID = ?
	</entry>
	
	<entry key="increaseMovieSeen">
		UPDATE MOVIE
		   SET MOVIE_SEEN = MOVIE_SEEN + 1
		 WHERE MOVIE_NO = ?
	</entry>
	
	<entry key="decreaseMovieSeen">
		UPDATE MOVIE
		   SET MOVIE_SEEN = MOVIE_SEEN - 1
		 WHERE MOVIE_NO = ?
	</entry>
	
</properties>