<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>큐레이션 관련 쿼리문들</comment>
	
	<entry key="searchMovie">
		SELECT *
		FROM MOVIE
		WHERE TITLE LIKE ? OR ORIGINAL_TITLE LIKE ?	
	</entry>
	
	<entry key="insertCurationList">
		INSERT INTO CURATIONLIST(LIST_NO, LIST_NAME, LIST_MOVIE_ID, STATUS)
		VALUES(SEQ_CUNO.NEXTVAL, ?, ?, 'Y')
	</entry>
	
	<entry key="selectCurationList">
		SELECT *
		FROM CURATIONLIST
		WHERE STATUS = 'Y'
		ORDER BY LIST_NO DESC
	</entry>
	
	<entry key="deleteCuration">
		UPDATE CURATIONLIST
		SET STATUS = 'N'
		WHERE LIST_NO = ?
	</entry>
	
</properties>
