<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>고객센터 관련 쿼리문들</comment>
	
	<entry key="selectCategory">
		SELECT * FROM CATEGORY
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM QUESTION Q  
		 WHERE Q.STATUS = 'Y'
           AND MEMBER_NO = ?
	</entry>
	
	<entry key="selectList">
		SELECT *
			FROM (
			        SELECT ROWNUM RNUM, A.*
			          FROM (
			                SELECT QNA_NO, CATEGORY_NAME,QNA_TITLE, MEMBER_ID, MEMBER_NO,QNA_WRITER,CREATE_DATE,Q.STATUS
			                  FROM QUESTION Q
			                  JOIN CATEGORY USING (CATEGORY_NO)
			                  JOIN MEMBER ON (QNA_WRITER = MEMBER_NO)
			                 WHERE Q.STATUS = 'Y'
			                   AND MEMBER_NO = ?
			                 ORDER 
			                    BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="insertQuestion">
		INSERT INTO QUESTION(QNA_NO, CATEGORY_NO, QNA_TITLE,
	                  QNA_CONTENT, QNA_WRITER)
		VALUES(SEQ_QNO.NEXTVAL, ?, ?, ?, ?)				    
	</entry>

	<entry key="insertQfile">
		INSERT INTO Q_file(FILE_NO, REF_QNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH)
		VALUES(SEQ_QFNO.NEXTVAL, SEQ_QNO.CURRVAL, ?, ?, ?)
	
	</entry>

	<entry key="selectNoticeListCount">
		SELECT COUNT(*) COUNT
		  FROM Notice
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectNoticeList">
		SELECT *
			FROM (
			        SELECT ROWNUM RNUM, A.*
			          FROM (
			                SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_WRITER, CREATE_DATE
			                  FROM NOTICE N
			                  JOIN MEMBER ON (NOTICE_WRITER = MEMBER_NO)
			                 WHERE N.STATUS = 'Y'
			                 ORDER 
			                    BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>	
	
	<entry key="selectNotice">
		SELECT 
			   NOTICE_NO
			  ,NOTICE_TITLE
			  ,NOTICE_CONTENT
			  ,MEMBER_ID
			  ,CREATE_DATE 
		 FROM  
		       NOTICE N 
		       JOIN MEMBER ON(NOTICE_WRITER = MEMBER_NO) 
		WHERE 
		       NOTICE_NO = ? 
		  AND 
		       N.STATUS = 'Y'
	</entry>
	
	<entry key="selectQuestion">
		SELECT QNA_NO, CATEGORY_NAME, QNA_TITLE, QNA_CONTENT, MEMBER_ID, MEMBER_NO,CREATE_DATE
		  FROM QUESTION Q
		  LEFT JOIN CATEGORY USING(CATEGORY_NO)
		  JOIN MEMBER ON(QNA_WRITER = MEMBER_NO)
		 WHERE QNA_NO = ?
		   AND Q.STATUS = 'Y'
	</entry>
	
	<entry key="selectQfile">
		SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		  FROM Q_FILE
		 WHERE REF_QNO = ?
	</entry>
	
	<entry key="insertNotice">
		INSERT INTO NOTICE(NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_WRITER)
			VALUES (SEQ_QFNO.NEXTVAL, ?, ?, ?)
	</entry>
	
	<entry key = "updateNotice">
		UPDATE
			NOTICE
		SET 
			NOTICE_TITLE = ?,
			NOTICE_CONTENT = ?
		WHERE
			NOTICE_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	
	<entry key = "deleteNotice">
		UPDATE
			NOTICE
		SET
			STATUS = 'N'
		WHERE
			NOTICE_NO = ?		
	</entry>
	
	<entry key="selectListManagementCount">
		SELECT COUNT(*) COUNT
		  FROM QUESTION Q
		 WHERE Q.STATUS = 'Y'
	</entry>
	
	<entry key="selectListManagement">
		SELECT *
			FROM (
			        SELECT ROWNUM RNUM, A.*
			          FROM (
			                SELECT QNA_NO, CATEGORY_NAME,QNA_TITLE, MEMBER_ID, MEMBER_NO,QNA_WRITER,CREATE_DATE,Q.STATUS
			                  FROM QUESTION Q
			                  JOIN CATEGORY USING (CATEGORY_NO)
			                  JOIN MEMBER ON (QNA_WRITER = MEMBER_NO)
			                 WHERE Q.STATUS = 'Y'
			                 ORDER 
			                    BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	
</properties>
